---
layout: default
---

<div id="overlay-content" class="wrapper">
  <div id="work">
    <h1>{{ page.title }}</h1>
    {{ content }}
  </div>

  <div id="postnav">
    <div class="postnav-prev">
      {% if page.next.url %}
        Previous Project:<br><a href="{{page.next.url}}" title="Previous: {{page.next.title}}" class="workitem-link">{{page.next.title}}</a>
      {% endif %}
    </div>

    <div class="postnav-next">
      {% if page.previous.url %}
        Next project:<br>
        <a href="{{page.previous.url}}" title="Next: {{page.previous.title}}" class="workitem-link">{{page.previous.title}}</a>
      {% endif %}
    </div>
  </div>

</div>
